.container {
  width: 100%;
  height: 100vh;

  .bottomContainer {
    display: flex;
    
    height: calc(100% - 60px);
    background-color: rgb(255, 255, 255);
    .sidebar {
      flex: 1.3;
      border-right: .5px solid gray;
    }
    .contents {
      padding: 10px;
      flex: 6;
      background-color: rgb(255, 255, 255);
    }
  }
}
